{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">

    <script src="{% static "health/js/jquery-3.4.1.min.js" %}"></script>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru-RU&amp;apikey=d845be9c-9436-4b36-9e4b-7b4be1af81e8" type="text/javascript"></script>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script src="{% static "health/js/object_manager.js" %}" type="text/javascript"></script>
 

    <link rel="stylesheet" type="text/css" href="{% static 'health/main.css' %}">

    <script type="text/javascript">
        function goClick(){
            var edit_text = $('#search-edit').val();
            var data = {text: edit_text};
            $.ajax({
              url: 'filtered_request',
              type: 'GET',
              data: data,
              dataType: 'json',
              success: function(resp) {
                $('#items-container').html(resp.html);

                myCollection = new ymaps.GeoObjectCollection();


                myMap.geoObjects.removeAll();


                for (var i = 0, l = resp.geoPoints.length; i < l; i++) {
                    var point = resp.geoPoints[i];
                    myCollection.add(new ymaps.Placemark(
                        point.coords, {
                            balloonContentBody: point.text
                        }
                    )); 
                }


                myMap.geoObjects.add(myCollection);  
              }
            });
        };

        function addHospital(){
            var hName = $('#name').val()
            var hAddr = $('#addr').val()
            var hService = $('#service').val()

            var zData = {
                name: hName,
                addr: hAddr,
                service: hService
            };

            $.ajax({
                url: 'add_hospital',
                type: 'GET',
                data: zData,
                dataType: 'json',

                success: function(resp) {
                    $('#name').val('')
                    $('#addr').val('')
                    $('#service').val('')
                }
            });
        };
    </script>

	{% if title %}
		<title>Health - {{ title }}</title>
	{% else %}
		<title>Health</title>
	{% endif %}
</head>
<body onload="goClick()">
    {% block content %}{% endblock %}
</body>
</html>